name: Basic CI Test

on:
  push:
    branches: [ "develop" ]

jobs:
  test-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say hello
        run: echo "CI pipeline is working!"
