name: Docker Push

on:
  workflow_call:
    inputs:
      imageName:
        description: "Image name"
        required: true
        type: string
      tags:
        description: "Comma-separated list of tags"
        required: true
        type: string
      registry:
        description: "Registry URL"
        required: true
        type: string
      username:
        description: "Registry username"
        required: true
        type: string
      password:
        description: "Registry password or token"
        required: true
        type: string

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.username }}
          password: ${{ inputs.password }}

      - name: Push image
        run: |
          IFS=',' read -ra TAGS <<< "${{ inputs.tags }}"
          for tag in "${TAGS[@]}"; do
            docker push ${{ inputs.imageName }}:$tag
          done
