name: Docker Build

on:
  workflow_call:
    inputs:
      imageName:
        description: "Name of the Docker image"
        required: true
        type: string
      dockerfile:
        description: "Path to the Dockerfile"
        required: true
        type: string
      context:
        description: "Build context"
        required: true
        type: string
      tags:
        description: "Comma-separated list of tags"
        required: true
        type: string
      push:
        description: "Whether to push the image"
        required: false
        type: boolean
        default: false

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          tags: ${{ inputs.imageName }}:${{ inputs.tags }}
          push: ${{ inputs.push }}
