name: Lint

on:
  workflow_call:
    inputs:
      command:
        description: "The lint command to run"
        required: true
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node (optional)
        if: ${{ contains(inputs.command, 'npm') || contains(inputs.command, 'npx') }}
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Run lint command
        run: ${{ inputs.command }}
